set visualbell
set noerrorbells
let mapleader = ","

nnoremap <leader>r :<C-u>action RunClass<CR>
nnoremap <leader>t :<C-u>action ExternalToolsGroup<CR>
nnoremap <leader>d :<C-u>action DebugClass<CR>

set surround
set easymotion

nmap s <Plug>(easymotion-s)
map <Leader>j <Plug>(easymotion-j)
map <Leader>k <Plug>(easymotion-k)

